<% include partials/header%>
<h1>This is Campgrounds page.</h1>
<a href="/campgrounds/new">New Campground</a>
<% campgrounds.forEach(function (e) { %>
    <br/>
    <li>
        <strong><%= e.name %></strong><br/>
        <img src="<%= e.image %>">
    </li>
<% }); %>
<% include partials/footer%>
