<% include partials/header%>
<h1>Create a new CampGround</h1>
<form action="/campgrounds" method="post" >
    Name :<input type="text" name="campgroundname" >
    Link : <input type="text" name="campgroundurl" >
    <input type="submit" value="Submit">
</form>
<% include partials/footer%>
